#myNavbar {
	padding-top:10px;
}

#myNavbar ul {
    padding-top:15px;
}

.end {
    background-color: #a8aaab;
    color: #222;
    height: 65px;
    margin: 10px auto 0;
    width: 1003px;
}
.end_txt {
    height: 65px;
    margin: 0 auto;
    width: 1004px;
}
.end_left {
    float: right;
    line-height: 23px;
    margin-right: 20px;
    margin-top: 10px;
    text-align: right;
}
.end_right {
    float: right;
    margin-top: 20px;
}